__pycache__/
*.pyc
*.pyo
*.pyd

chatgpt_auto_profile/
.tmp.drivedownload/
.tmp.driveupload/

images/
images_vn/
Kvant/
Kvant VN/
Upscale bang Upscayl/

*.part
*.log

build/
dist/
build_rebuild/
dist_rebuild/
*.spec

app_settings.json
